body {
    margin: 0;
    padding: 0;
    font-size: .9vw;
    user-select: none;
}

.menu {
    float: left;
    width: 20vw;
    background: #fff;
    height: 100vh;
}

.shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.menu .icono {
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: row;
}

.menu .icono div {

}

.menu .icono i {
    font-size: 1.5vw;
    margin: 0 1vw 0 2.2vw;
    color: #172B4D;
}

.menu .icono span {
    font-size: 1vw;
    font-weight: 600;
    color: #172B4D;
}

.menu .items {
    margin: 0;
    height: calc(100% - 5vw);
    overflow-y: auto;
    padding: 0 1.5vw;
}

.menu .items .item {
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1vw;
    transition: all .2s .2s;
}

.menu .items .item:hover {
    cursor: pointer;
    border-radius: .2vw;
    background: #F6F9FC4D;
    transition: all .1s .1s;
}

.menu .items .item.active {
    border-radius: .2vw;
    background: #F6F9FC;
}

.menu .items .item .centro {
    
}

.menu .items .item .centro i {
    width: 2vw;
}

.menu .items .item .centro i.a {
    color: #7764E4;
}

.menu .items .item .centro i.b {
    color: #F53C56;
}

.menu .items .item .centro i.c {
    color: #11CDEF;
}

.menu .items .item .centro i.d {
    color: #FB6340;
}

.menu .items .item .centro span {
    color: #172B4D;
    font-size: .95vw;
}

.bloque {
    position: relative;
    width: calc(100% - 20vw);
    margin-left: 20vw;
    height: 100vh;
    background: #fff;
}

.bloque .cabecera {
    background: #172B4D;
    height: 22vw;
    position: relative;

}

.bloque .cabecera .barra {
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

.bloque .cabecera .barra .busqueda {
    background: #fff;
    height: 3vw;
    width: 15vw;
    border-radius: 2vw;
}

.bloque .cabecera .barra .busqueda .a {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bloque .cabecera .barra .busqueda .a i {
    font-size: 1vw;
}

.bloque .cabecera .barra .busqueda .a input {
    padding: .5vw;
    border: none;
    outline: 0;
}

.bloque .cabecera .barra .perfil {
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloque .cabecera .barra .perfil img {
    height: 2.5vw;
    border-radius: 50%;
    width: 2.5vw;
}

.bloque .cabecera .barra .perfil span {
    color: #fff;
    font-weight: 500;
    margin-left: 1vw;
}

.bloque .cabecera .bloques {
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloque .cabecera .bloques .bloq {
    background: #fefefe;
    width: 15vw;
    height: 8vw;
    border-radius: .9vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloque .cabecera .bloques .bloq .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.bloque .cabecera .bloques .bloq .texto .titulo {
    font-weight: 700;
    margin-bottom: .1vw;
}

.bloque .cabecera .bloques .bloq .texto .number {
    font-size: 1.5vw;
    text-align: center;
}

.bloque .cabecera .bloques .bloq .icono {
    
}

.bloque .cabecera .bloques .bloq .icono i {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1vw;
}

.bloque .cabecera .bloques .bloq .icono i.a {
    background: #2DCE98;
}

.bloque .cabecera .bloques .bloq .icono i.b {
    background: #F53C56;
}

.bloque .cabecera .bloques .bloq .icono i.c {
    background: #7764E4;
}

.bloque .cabecera .bloques .bloq .icono i.d {
    background: #11CDEF;
}

.bloque .cuerpo {
    background: #F1F3F9;
    height: calc(100% - 22vw);
    position: relative;
}

.bloque .cuerpo .caja {
    position: absolute;
    top: -4vw;
    left: 3%;
    width: 94%;
    height: calc(100% + 3vw);
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: -1;
    opacity: 0;
    transition: all .2s .2s;
}

.bloque .cuerpo .caja.active {
    z-index: 1;
    opacity: 1;
    transition: all .2s .2s;
}

.bloque .cuerpo .caja .a {
    background: #fff;
    border-radius: .5vw;
    width: 42vw;
    height: 100%;
}

.bloque .cuerpo .caja .b {
    background: #fff;
    border-radius: .5vw;
    height: 100%;
    width: calc(100% - 45vw);
}

.bloque .cuerpo .caja .b .opciones {
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.bloque .cuerpo .caja .b .opciones span {
    color: #172B4D;
    font-weight: 700;
}

.bloque .cuerpo .caja .b .opciones i {
    font-size: 1.2vw;
    cursor: pointer;
}

.bloque .cuerpo .caja .b .opciones i:active {
    transform: scale(0.98);
}

.bloque .cuerpo .caja .b .opciones i.noactive {
    pointer-events: none;
    color: #ccc;
}

.bloque .cuerpo .caja .b .inputs {
    height: calc(100% - 4vw);
    overflow-y: auto;
}

.bloque .cuerpo .caja .b .inputs .subttitulo {
    text-align: center;
    color: #172B4D;
    display: block;
    padding: 1vw;
    font-weight: 500;
}

.bloque .cuerpo .caja .b .inputs .input {
    padding: 0 2vw;
}

.bloque .cuerpo .caja .b .inputs .input input {
    width: 100%;
    margin-bottom: .7vw;
    border: none;
    background: #F6F9FC;
    padding: 1vw;
    color: #172B4D;
    border-radius: .6vw;
    outline: 0;
}

.bloque .cuerpo .caja .b .inputs .input select {
    margin-bottom: .7vw;
    background: #F6F9FC;
    border: none;
    border-radius: .6vw;
    outline: 0;
}

